---
import Layout from '../layouts/Layout.astro';
---

<Layout title="./about">
  <h1>
    <span id="typewriter" data-text="./about"></span><span class="cursor">█</span> muhammed berk önder
  </h1>
  <!-- <p>i'm a scientist/programmer/wisconsinite living in brooklyn, ny.</p>
  <p>i aim to make programming with data more accessible and insightful. my work explores how software can help people check assumptions, build intuition, and make more grounded decisions.</p>
  <p>i created anywidget and maintain and contribute to several open-source projects. i've also published research in visualization and ai with a focus on biological applications.</p>
  <p>i'm currently building marimo. in a past life, i swam competitively.</p> -->
  <p>🤖 I'm an MLOps Engineer at Teknasyon, specializing in building scalable machine learning systems and LLM frameworks.</p>
  <p>💡 I like to explore the inner workings of the Universe and cook _delicious_ cookies 🍪.</p>
  <p>🎓 I have a background in Physics, with a Master's degree in Physics from Istanbul University.</p>
  <p>🔭 I'm currently developing LLM-powered mobile app, and anomaly detection API at scale.</p>
  <p>🌱 I'm constantly learning about large-scale data workflows, MLOps, and advanced neural network architectures.</p>
  <p>💬 Feel free to reach out for discussions on AI, ML, LLMs, or Physics, Math and Coding, or for consulting opportunities related to ML and Data Science projects.</p>
  <p>📫 You can email me at berkmonder@gmail.com, and I’ll get back to you as soon as possible!</p>
  <p>📄 Check out my <a href="/files/resume_muhammedBerkOnder.pdf" target="_blank" rel="noopener noreferrer">Résumé</a> for a deeper dive into my skills and experience!</p>
</Layout>
