---
import Layout from '../layouts/Layout.astro';
---

<Layout title="./about">
  <h1>
    <span id="typewriter" data-text="./about"></span><span class="cursor">█</span> muhammed berk önder
  </h1>
  <p>i'm an MLOps Engineer at Teknasyon, specializing in building scalable machine learning systems and LLM frameworks.</p>
  <p>i have a Master’s degree in Physics from Istanbul University.</p>
  <p>i'm currently developing LLM-powered mobile app, and anomaly detection API at scale.</p>
  <p>i like to explore the inner workings of the Universe and cook <em>delicious</em> cookies 🍪.</p>
  <p>feel free to reach out to discuss ML/LLMs, Physics, Math and Coding. Email me at <a href="mailto:berkmonder@gmail.com">berkmonder@gmail.com</a>, and I’ll get back to you as soon as possible.</p>
  <p>check out my <a href="/files/resume_muhammedBerkOnder.pdf" target="_blank" rel="noopener noreferrer">Résumé</a> for a deeper dive into my skills and experience!</p>
</Layout>
