---
import Layout from '../layouts/Layout.astro';
---

<Layout title="./whoami">
  <h1>
    <span id="typewriter" data-text="./whoami"></span><span class="cursor">█</span> muhammed berk önder
  </h1>
  <p>i am an mlops engineer.</p>
  <!-- <p>currently, i'm working models at [Company/University]. previously, i worked on [past project/lab].</p>
  <p>
    find my code on <a href="https://github.com/yourusername" target="_blank">github</a>, 
    my models on <a href="https://huggingface.co/yourusername" target="_blank">hugging face</a>, 
    and my papers on <a href="https://arxiv.org/search/?query=yourname" target="_blank">arxiv</a>.
  </p> -->
</Layout>
